@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model QuanLyPhongViewModel
@using Motel.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<div id="view-all">
    @await Html.PartialAsync("ViewAll", Model);
</div>

<script src="~/Form/jsController/popper-min.js"></script>
<script src="~/Form/jsController/jquery.js"></script>
<script src="~/Form/jsController/popper-min.js"></script>
<script src="~/Form/jsController/bootstrap-confirmation-min.js"></script>
<script src="~/Form/plugins/layout/layout-min.js"></script>
<script src="~/Form/plugins/bootstrap-confirmation-min.js"></script>
<script src="~/Form/plugins/bootstrap-fileinput.js"></script>
<script src="~/Form/plugins/bootstrap-hover-dropdown-min.js"></script>
<script src="~/Form/plugins/js-cookie-min.js"></script>
<script src="~/Form/plugins/tableHeadFixer.js"></script>
<script src="~/Form/plugins/tinymce-min.js"></script>
<script src="~/Form/plugins/toastr-min.js"></script>
<script src="~/Form/plugins/ui-toastr-min.js"></script>
<link href="~/Form/css/blog-min.css" rel="stylesheet" />
<link href="~/Form/css/component-md-min.css" rel="stylesheet" />
<link href="~/Form/css/custom-green.css" rel="stylesheet" />
<link href="~/Form/css/layout-min.css" rel="stylesheet" />
<link href="~/Form/css/plugins-md-min.css" rel="stylesheet" />
<link href="~/Form/css/pricing-min.css" rel="stylesheet" />
<link href="~/Form/css/search-min.css" rel="stylesheet" />
<script src="~/Form/plugins/layout/bootstrap-min.js"></script>


