
@{
    Layout = null;
}


@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyDienNuocViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<form class="simple_form form-horizontal" asp-controller="DienNuoc" asp-action="AddOrEdit" onsubmit="return jQueryAjaxPost(this);" novalidate="novalidate"
      id="new_admin_building" accept-charset="UTF-8" data-remote="true">
    <input name="utf8" type="hidden" value="✓">
    <ul class="errors"></ul>
    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Phòng:
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <select asp-for="dienNuoc.MaPH" class="text required bg-maxlength form-control"
                    name="dienNuoc.MaPH"
                    id="_MaNT" tabindex="-1" aria-hidden="true">
                @{

                    foreach (var item in Model.listPhong)
                    {
                        <option value="@item.MaPH">@item.Ten</option>
                    }
                }
            </select>
            <div class="form-control-focus"></div>
        </div>
        <label class="control-label">Ngày bắt đầu</label>
        <div>
            <div class="input-group date form_datetime">
                <input class="string required bg-maxlength form-control"
                       placeholder="Ngày bắt đầu"
                       asp-for="dienNuoc.NgayGhiSo"
                       maxlength="50" size="50" type="date"
                       id="startDate">
                <div class="form-control-focus"></div>

            </div>
        </div>

        <label class="col-md-2 control-label">
            Chỉ số điện cũ
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input asp-for="dienNuoc.CSDienCu" class="string required bg-maxlength form-control"
                   name="dienNuoc.CSDienCu" id="Tang"
                   placeholder="Tên phòng" maxlength="50" size="50" min="0" type="number">
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Chỉ số điện mới
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input asp-for="dienNuoc.CSDienMoi" class="string required bg-maxlength form-control"
                   name="dienNuoc.CSDienMoi" id="Tang"
                   placeholder="Tên phòng" maxlength="50" size="50" min="0" type="number">
            <div class="form-control-focus"></div>
        </div>
        <label class="col-md-2 control-label">
            Chỉ số nước cũ
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input asp-for="dienNuoc.CSNuocCu" class="string required bg-maxlength form-control"
                   name="dienNuoc.CSNuocCu" id="Tang"
                   placeholder="Tên phòng" maxlength="50" size="50" min="0" type="number">
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Chỉ số nước mới
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input asp-for="dienNuoc.CSNuocMoi" class="string required bg-maxlength form-control"
                   name="dienNuoc.CSNuocMoi" id="Tang"
                   placeholder="Tên phòng" maxlength="50" size="50" min="0" type="number">
            <div class="form-control-focus"></div>
        </div>

    </div>

    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" onclick="closeForm()" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>  Lưu lại
                </button>
            </div>
        </div>
    </div>
</form>
