
@{
    Layout = null;
}

@using Motel.ViewModels
@model CommonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span class="caption-subject font-green sbold uppercase">Danh sách điện nước</span>
                <div class="text-right">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div class="text-right">
                    <button onclick="ShowPopup('@Url.Action("AddOrEdit","DienNuoc",new { id = 0}, Context.Request.Scheme)','Thêm mới')" class="btn green btn-outline btn-circle btn-sm tooltips" data-placement="top"><i class="fa fa-plus"></i>Thêm mới</button>
                </div>

                <div id="table_phong">
                    @await Html.PartialAsync("Table", Model)
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
</div>


