
@{
    Layout = null;
}

@using Motel.ViewModels
@model CommonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span class="caption-subject font-green sbold uppercase">Danh sách điện nước</span>
                <div class="text-right">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div class="text-right">
                    <button onclick="ShowPopup('@Url.Action("AddOrEdit","DienNuoc",new { id = 0}, Context.Request.Scheme)','Thêm mới')" class="btn green btn-outline btn-circle btn-sm tooltips" data-placement="top"><i class="fa fa-plus"></i>Thêm mới</button>
                </div>
                <div class="text-left">
                    <div class="row">
                        <div class="col-md-3" style="padding-top:10px;">
                            <div class="row">
                                <label class="col-md-2 control-label">Từ</label>
                                <div class="col-md-10">
                                    <div class="input-group date form_datetime">

                                        <input onchange="jQueryAjaxChangeDate('@Url.Action("IndexChange","DienNuoc", Context.Request.Scheme)')"
                                               class="string required bg-maxlength form-control"
                                               asp-for="qlDienNuocViewModel.ThangNam"
                                               maxlength="50" size="50" type="date"
                                               id="Date">
                                        <div class="form-control-focus"></div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>

                <div id="table_phong">
                    @await Html.PartialAsync("Table", Model)
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
</div>


