
@{
    Layout = null;
}

<div class="row" style="padding-bottom: 15px; margin-right: 0px; margin-left: 0px; padding-top: 15px; margin-bottom: 15px; border-bottom: 1px solid #e7ecf1; background-color: #EFF2F5">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Chọn nhà trọ</label>
            </div>
            <div class="col-md-10">
                <select class="form-control select2-hidden-accessible" id="hostels" tabindex="-1" aria-hidden="true">
                    <option value="">Tất cả nhà trọ</option>
                </select>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <button type="button" class="btn green mt-ladda-btn ladda-button btn-outline pull-right clearfix" data-style="slide-down" data-spinner-color="#333">
                    <span class="ladda-label">
                        <i class="icon-present"></i> Chọn
                    </span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Thông tin nhà trọ</h5>
            </div>

            <!-- /.card-header -->
            <div class="card-body">




            </div>
        </div>
        <!-- /.col -->
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Thống kê</h5>
            </div>


            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-responsive">
                            <canvas id="pieChart" height="150"></canvas>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <ul class="chart-legend clearfix">
                            <li><i class="far fa-circle text-danger"></i> Chrome</li>
                            <li><i class="far fa-circle text-success"></i> IE</li>
                            <li><i class="far fa-circle text-warning"></i> FireFox</li>
                            <li><i class="far fa-circle text-info"></i> Safari</li>
                            <li><i class="far fa-circle text-primary"></i> Opera</li>
                            <li><i class="far fa-circle text-secondary"></i> Navigator</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title color-view">Theo dõi hợp đồng</h5>
            </div>

            <!-- /.card-header -->
            <div class="card-body">




            </div>
        </div>
        <!-- /.col -->
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Theo dõi khách thuê</h5>
            </div>

            <!-- /.card-header -->
            <div class="card-body">




            </div>
        </div>
        <!-- /.col -->
    </div>
</div>

