
@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyTaiKhoan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<form asp-controller="DangNhap" asp-action="CreateAccount" onsubmit="return jQueryAjaxPost(this);" class="simple_form form-horizontal" novalidate="novalidate"
      id="new_admin_building" accept-charset="UTF-8" data-remote="true">
    <div class="form-group form-md-line-input row">
        <label class="col-md-2">
            Tên tài khoản
        </label>
        <div class="col-md-10" data-validate="Valid email is required: ex@abc.xyz">
            <input class="string required bg-maxlength form-control"
                   type="text" asp-for="taikhoan.TenTaiKhoan" name="taikhoan.TenTaiKhoan" placeholder="Tài khoản">

            <div class="form-control-focus"></div>
        </div>
    </div>
    <div class="form-group form-md-line-input row">
        <label class="col-md-2">
            Mật khẩu
        </label>
        <div class="col-md-10" data-validate="Lưu mật khẩu">
            <input class="string required bg-maxlength form-control"
                   type="password" asp-for="taikhoan.MatKhau" name="taikhoan.MatKhau" placeholder="Mật khẩu">
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2">
            Mật khẩu mới
        </label>
        <div class="col-md-10" data-validate="Lưu mật khẩu">
            <input class="string required bg-maxlength form-control"
                   type="password" asp-for="taikhoan.PrMatKhau" name="taikhoan.PrMatKhau" placeholder="Nhập lại mật khẩu">
            <div class="form-control-focus"></div>
        </div>
    </div>


    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>  Lưu lại
                </button>
            </div>
        </div>
    </div>
</form>
