@using Motel.ViewModels
@model QuanLyTaiKhoan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName



<div id="view-all">
    @await Html.PartialAsync("ViewAll", Model);
</div>