@using Motel.ViewModels
@model QuanLyTaiKhoan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName



<form asp-controller="DangNhap" asp-action="Login" onsubmit="return jQueryAjaxLogin(this);" autocomplete="off" class="login100-form validate-form">
    <div class="form-group form-md-line-input row">
        <label class="col-md-2">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </label>
        <div class="col-md-10" data-validate="Valid email is required: ex@abc.xyz">
            <input class="string required bg-maxlength form-control"
                   type="text" asp-for="taikhoan.TenTaiKhoan" name="TenTaiKhoan" placeholder="Tài khoản">
            <div class="form-control-focus"></div>
        </div>
    </div>
    <div class="form-group form-md-line-input row">
        <label class="col-md-2">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </label>
        <div class="col-md-10" data-validate="Lưu mật khẩu">
            <input class="string required bg-maxlength form-control"
                   type="password" asp-for="taikhoan.MatKhau" name="MatKhau" placeholder="Mật khẩu">
            <div class="form-control-focus"></div>
        </div>
    </div>
    <div class="row">
        <div style="padding-top:10px;" class="col-md-3">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="txt2" for="ckb1">
                Nhớ
            </label>
        </div>
        <div style="padding-top:10px;" class="col-md-9">
            <span class="txt1">
                Quên
            </span>
            <a class="txt2" href="#">
                Tài khoản / Mật khẩu?
            </a>
        </div>
    </div>
    <div class="container-login100-form-btn">
        <button style="border-radius:10px;" type="submit" class="login100-form-btn btnFormSubmit btn green">Đăng nhập</button>
    </div>
    <div class="text-center p-t-100">
        <a class="txt2" onclick="ShowPopupSmall('@Url.Action("CreateAccount", "DangNhap", Context.Request.Scheme)','Tạo tài khoản')">
            Tạo tài khoản
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>

</form>