
@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyHopDongViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName

<form method="POST">
    <ul class="errors"></ul>
    <input type="hidden" id="last_room" value="34171">
    <input type="hidden" id="owner_previous" value="8844" class="string optional" name="admin_agreement[owner_previous]">
    <input type="hidden" class="numeric integer optional" step="1" value="1" name="admin_agreement[agreement_type]" id="admin_agreement_agreement_type">
    <input type="hidden" class="numeric integer optional" step="1" value="1" name="admin_agreement[status]" id="admin_agreement_status">
    <input type="hidden" name="type" value="26">
    <input type="hidden" name="building" value="1940">
    <div class="form-group form-md-line-input row">
        <!--PHONG-->
        <div class="col-md-6 selected-room-container">
            <label class="control-label">
                Phòng
                <span class="required" aria-required="true"> * </span>
            </label>
            <select class="form-control select optional form-control" id="btn_phong">
                @{
                    foreach (var item in Model.listPhong)
                    {
                        <option value="@item.MaPH">@item.Ten</option>
                    }
                }
            </select>

            <input type="hidden" name="admin_agreement[room_id]" value="34171">
            <input type="hidden" name="change_deposit2agreement[deposit_id]" value="711">
        </div>

        <div class="col-md-3">
            <label class="control-label required" style="margin-right: 10px;">
                Loại hợp đồng
                <span class="required" aria-required="true"> * </span>:
            </label>
            <div class="md-radio-inline">
                <div class="md-radio">
                    <input id="radio1" name="admin_agreement[agreement_type]" class="md-radiobtn radio-agreement_type" value="1" checked="checked" type="radio">
                    <label for="radio1">
                        <span class=""></span>
                        <span class="check"></span>
                        <span class="box"></span>  Thuê phòng
                    </label>
                </div>
                <div class="md-radio hide">
                    <input id="radio2" name="admin_agreement[agreement_type]" class="md-radiobtn radio-agreement_type" value="3" type="radio">
                    <label for="radio2">
                        <span class=""></span>
                        <span class="check"></span>
                        <span class="box"></span> Dịch vụ
                    </label>
                </div>
            </div>
        </div>
        <!-- Trạng thái hợp đồng -->
        <div class="col-md-3">
            <label class="control-label required" style="margin-right: 10px;">Trạng thái hợp đồng:</label>
            <div>
                <label class="control-label"><span class="label label-sm label-md label-info"> Còn hiệu lực</span></label>
            </div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <div class="col-md-12">
            <label class="control-label required" style="margin-right: 10px;">
                Chọn danh sách khách thuê và dịch vụ tương ứng
                <span class="required" aria-required="true"> * </span>:
            </label>
        </div>
    </div>

    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab1" data-toggle="tab" aria-expanded="false">1. Chọn khách thuê</a>
            </li>
            <li class="">
                <a href="#tab2" data-toggle="tab" aria-expanded="true">2. Chọn dịch vụ</a>
            </li>
            <li class="">
                <a href="#tab3" data-toggle="tab" aria-expanded="true">3. Phương tiện</a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div id="tab_1">
                    @await Html.PartialAsync("Tab1", Model);
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div id="tab_2">
                    @await Html.PartialAsync("Tab2", Model);
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div id="tab_3">
                    @await Html.PartialAsync("Tab3", Model);
                </div>
            </div>
        </div>

    </div><!--end tableable-->

    <div class="row">
        <div class="col-lg-6">
            <!-- Chọn người đại diện, Số tien dat coc -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Người đại diện
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <select class="form-control select optional form-control" name="admin_agreement[renter_id]" id="admin_agreement_renter_id">
                        <option value="">-- Chọn người đại diện --</option>
                        <option selected="selected" value="8844">Tâm</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Tiền đặt cọc</label>
                <div class="col-md-8">
                    <input class="string optional bg-maxlength optional form-control number-format-clear-empty" placeholder="Nhập số tiền đặt cọc" maxlength="11" size="11" type="text" value="3000000" name="admin_agreement[down_payment]" id="admin_agreement_down_payment">
                    <div class="form-control-focus"></div>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Ngày bắt đầu</label>
                <div class="col-md-8">
                    <div class="input-group date form_datetime">
                        <input type="text" id="startDate" class="form-control" name="admin_agreement[start_date]" value="18/06/2020 20:49" readonly="">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Ngày hết hạn<span class="required" aria-required="true"> * </span></label>
                <div class="col-md-8">
                    <div class="input-group date form_datetime">
                        <input type="text" id="endDate" class="form-control" name="admin_agreement[end_date]" value="18/06/2021 20:49" readonly="">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Chu ky thanh toan -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Kì thanh toán
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="string optional form-control bg-maxlength number-format" value="1" placeholder="Nhập kì thanh toán" maxlength="2" size="2" type="text" name="admin_agreement[billing_cycle]" id="admin_agreement_billing_cycle">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-history"></i>tháng/lần
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Ngày cảnh báo nộp tiền theo kỳ -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Ngày đóng tiền kỳ tới
                    <span class="required" aria-required="true"> * </span> <span class="required tooltips" aria-required="true" data-placement="top" data-original-title="Ngày dùng để cảnh báo khi đến kỳ thanh toán"> [?] </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="string optional form-control bg-maxlength number-format" value="18" placeholder="Nhập kì thanh toán" maxlength="2" size="2" type="text" name="admin_agreement[billing_cycle_warning]" id="admin_agreement_billing_cycle_warning">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-history"></i>Kỳ
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <!-- Ghi chú -->
            <div class="form-group form-md-line-input">
                <div class="row">
                    <label class="col-md-4 control-label">Ghi chú (Nếu có) </label>
                    <div class="col-md-8">
                        <textarea class="text optional form-control bg-maxlength" row="5" style="height: 286px;" maxlength="255" name="admin_agreement[description]" id="admin_agreement_description"></textarea>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input class="hidden" type="hidden" value="0" name="admin_agreement[month_pre_payment]" id="admin_agreement_month_pre_payment">
    <input class="hidden" type="hidden" value="0" name="admin_agreement[pre_payment]" id="admin_agreement_pre_payment">

    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-9">
                <span class="font-red-flamingo" id="error-people-in-room"></span>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-default show-main-modal" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu lại
                </button>
            </div>
        </div>
    </div>

</form>
