
@{
    Layout = null;
}
@using Motel.ViewModels
@model QuanLyHopDongViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName
@{
    if (ViewData["Title"] != null)
    {
        <script type="text/javascript">
            toastr.error("", "Email or password is wrong !)");
        </script>
    }
}

<form method="POST">
    <ul class="errors"></ul>
    <input type="hidden" id="last_room" value="34171">
    <input type="hidden" id="owner_previous" value="8844" class="string optional" name="admin_agreement[owner_previous]">
    <input type="hidden" class="numeric integer optional" step="1" value="1" name="admin_agreement[agreement_type]" id="admin_agreement_agreement_type">
    <input type="hidden" class="numeric integer optional" step="1" value="1" name="admin_agreement[status]" id="admin_agreement_status">
    <input type="hidden" name="type" value="26">
    <input type="hidden" name="building" value="1940">
    <div class="form-group form-md-line-input row">
        <!--PHONG-->
        <div class="col-md-6 selected-room-container">
            <label class="control-label">
                Phòng
                <span class="required" aria-required="true"> * </span>
            </label>
            <select class="form-control select optional form-control" id="room_agreement" name="admin_agreement[room_id]" disabled="">
                <option value="34171" selected="">PhongA002 - 3 - ĐƠN - 3.000.000đ</option>
            </select>

            <input type="hidden" name="admin_agreement[room_id]" value="34171">
            <input type="hidden" name="change_deposit2agreement[deposit_id]" value="711">
        </div>

        <div class="col-md-3">
            <label class="control-label required" style="margin-right: 10px;">
                Loại hợp đồng
                <span class="required" aria-required="true"> * </span>:
            </label>
            <div class="md-radio-inline">
                <div class="md-radio">
                    <input id="radio1" name="admin_agreement[agreement_type]" class="md-radiobtn radio-agreement_type" value="1" checked="checked" type="radio">
                    <label for="radio1">
                        <span class=""></span>
                        <span class="check"></span>
                        <span class="box"></span>  Thuê phòng
                    </label>
                </div>
                <div class="md-radio hide">
                    <input id="radio2" name="admin_agreement[agreement_type]" class="md-radiobtn radio-agreement_type" value="3" type="radio">
                    <label for="radio2">
                        <span class=""></span>
                        <span class="check"></span>
                        <span class="box"></span> Dịch vụ
                    </label>
                </div>
            </div>
        </div>
        <!-- Trạng thái hợp đồng -->
        <div class="col-md-3">
            <label class="control-label required" style="margin-right: 10px;">Trạng thái hợp đồng:</label>
            <div>
                <label class="control-label"><span class="label label-sm label-md label-info"> Còn hiệu lực</span></label>
            </div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <div class="col-md-12">
            <label class="control-label required" style="margin-right: 10px;">
                Chọn danh sách khách thuê và dịch vụ tương ứng
                <span class="required" aria-required="true"> * </span>:
            </label>
        </div>
    </div>

    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="">
                <a href="#tab1" data-toggle="tab" aria-expanded="false">1. Chọn khách thuê</a>
            </li>
            <li class="active">
                <a href="#tab2" data-toggle="tab" aria-expanded="true">2. Chọn dịch vụ</a>
            </li>
            <li class="pull-right">
                <a class="btn green btn-outline btn-circle btn-sm" style="width: 100%;" id="new-ajax-renter" data-remote="true" href="http://quantri.khutro.com/admin/renters/new-ajax-form?building=1940"><i class="fa fa-plus font-green"></i>Thêm khách thuê</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-scrollable table-scrollable-agreement">
                            <table class="table table-striped table-bordered table-hover items-table aside-table ">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default add-all-selection"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                        </th>
                                        <th>Tên khách thuê</th>
                                        <th class="text-center">SĐT (VN, QT)</th>
                                        <th width="50">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="renter-left-container">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="table-scrollable table-scrollable-agreement">
                            <table class="table table-striped table-bordered table-hover items-table" id="right-table">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default remove-all-selection"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                        </th>
                                        <th>Tên khách thuê</th>
                                        <th class="text-center">SĐT (VN, QT)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="renter-right-container">
                                    <tr class="renter-item-8844">
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection remove-selection"><input class="hide" type="checkbox" name="admin_agreement_renter[]" value="8844" checked="checked"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                        </td>
                                        <td class="renter-item-name-8844">Tâm</td>
                                        <td class="renter-item-phone-8844 text-center">0933370919</td>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default" data-remote="true" href="http://quantri.khutro.com/admin/renters/edit-ajax-form/8844"><i class="icon-pencil"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane active" id="tab2">
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-scrollable table-scrollable-agreement">
                            <table class="table table-striped table-bordered table-hover items-table-service aside-table ">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default add-all-selection-service"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                        </th>
                                        <th>Tên dịch vụ</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Đơn vị</th>
                                        <th class="amount hide"></th>
                                    </tr>
                                </thead>
                                <tbody class="item-container-service-left">
                                    <tr>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection-service add-selection-service"><input class="hide" type="checkbox" name="admin_agreement_service[]" value="18142"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                            <input type="hidden" name="admin_agreement_service_service_initial[18142]" value="45607">
                                        </td>
                                        <!-- Cột name -->
                                        <td class="service-building-18142">Tiền điện</td>
                                        <!-- Cột quy tắc tính tiền -->
                                        <td class="formula-type-input hide 18142">
                                            <!-- Trường hợp điện, nước thì lấy danh sách loại quy tắc -->
                                            <select name="admin_agreement_service_formula_type[18142]" id="formula-type-item18142" class="select optional form-control formula-type-item">
                                                <option selected="selected" value="1">Đơn giá cố định</option>
                                                <option value="2">Đơn giá theo đầu người</option>
                                                <option value="3">Đơn giá theo định mức</option>
                                            </select>
                                        </td>
                                        <!-- Cột giá ẩn -->
                                        <td class="text-center unit-price-18142 ">
                                            90.000đ
                                        </td>
                                        <!-- Cột giá -->
                                        <td class="text-center hide 18142">
                                            <!-- Phòng thì hiển thị giá mặc đinh là --- -->
                                            <!-- Điện/nước theo loại công thức, chú ý loại là công thức thì hiển thị danh sách công thức, ngược lại hiển thị đơn giá -->
                                            <select name="admin_agreement_service_formula_id[18142]" id="admin_agreement_service_formula_id_18142" class="select optional form-control formula-id-item18142" disabled="disabled" style="display: none;"><option value="">-- Chọn công thức --</option><option value="6116">CT Điện</option></select>
                                            <input type="hidden" name="admin_agreement_service_unit_price[18142]" disabled="" class="unit-price-hidden-item18142">
                                            <input type="text" name="admin_agreement_service_unit_price[18142]" value="4000" class="form-control number-format text-center unit-price-fix-item18142">

                                            <!-- Phục vụ cho việc xử lý JS lúc thay đổi quy tắc tính tiền -->
                                            <input type="text" name="admin_agreement_service_unit_price[18142]" value="90000" class="form-control number-format text-center unit-price-item18142" disabled="" style="display: none;">
                                            <input type="hidden" name="admin_agreement_service_formula_id[18142]" class="formula-id-hidden-item18142">
                                        </td>
                                        <!-- Cột đơn vị -->
                                        <td class="text-center">
                                            <div class="unit181422">Số (kWh)</div>
                                            <input id="unit181422" type="hidden" name="admin_agreement_service_unit[18142]" value="24295">
                                        </td>
                                        <!-- Cột số lượng -->
                                        <td class="amount hide text-center 18142">
                                            <!-- Phòng thì hiển thị cố định số lượng là 1 -->
                                            <!-- Loại theo đầu người thì cho phép sửa số lượng, ngược lại thì cố định (chỉ áp dụng cho điện/nước) -->
                                            <input type="text" name="admin_agreement_service_amount[18142]" value="1" class="form-control number-format text-center amount18142" readonly="">
                                        </td>
                                        <!-- Cột Tạm dừng -->
                                        <td class="stop-service hide text-center 18142">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkboxactive18142" name="admin_agreement_service_active[18142]" value="1" class="md-check"><label for="checkboxactive18142"><span></span><span class="check"></span><span class="box"></span></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection-service add-selection-service"><input class="hide" type="checkbox" name="admin_agreement_service[]" value="18143"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                            <input type="hidden" name="admin_agreement_service_service_initial[18143]" value="45608">
                                        </td>
                                        <!-- Cột name -->
                                        <td class="service-building-18143">Tiền nước</td>
                                        <!-- Cột quy tắc tính tiền -->
                                        <td class="formula-type-input hide 18143">
                                            <!-- Trường hợp điện, nước thì lấy danh sách loại quy tắc -->
                                            <select name="admin_agreement_service_formula_type[18143]" id="formula-type-item18143" class="select optional form-control formula-type-item">
                                                <option selected="selected" value="1">Đơn giá cố định</option>
                                                <option value="2">Đơn giá theo đầu người</option>
                                                <option value="3">Đơn giá theo định mức</option>
                                            </select>
                                        </td>
                                        <!-- Cột giá ẩn -->
                                        <td class="text-center unit-price-18143 ">
                                            70.000đ
                                        </td>
                                        <!-- Cột giá -->
                                        <td class="text-center hide 18143">
                                            <!-- Phòng thì hiển thị giá mặc đinh là --- -->
                                            <!-- Điện/nước theo loại công thức, chú ý loại là công thức thì hiển thị danh sách công thức, ngược lại hiển thị đơn giá -->
                                            <select name="admin_agreement_service_formula_id[18143]" id="admin_agreement_service_formula_id_18143" class="select optional form-control formula-id-item18143" disabled="disabled" style="display: none;"><option value="">-- Chọn công thức --</option><option value="6117">CT Nước</option></select>
                                            <input type="hidden" name="admin_agreement_service_unit_price[18143]" disabled="" class="unit-price-hidden-item18143">
                                            <input type="text" name="admin_agreement_service_unit_price[18143]" value="22000" class="form-control number-format text-center unit-price-fix-item18143">

                                            <!-- Phục vụ cho việc xử lý JS lúc thay đổi quy tắc tính tiền -->
                                            <input type="text" name="admin_agreement_service_unit_price[18143]" value="70000" class="form-control number-format text-center unit-price-item18143" disabled="" style="display: none;">
                                            <input type="hidden" name="admin_agreement_service_formula_id[18143]" class="formula-id-hidden-item18143">
                                        </td>
                                        <!-- Cột đơn vị -->
                                        <td class="text-center">
                                            <div class="unit181433">Khối (m3)</div>
                                            <input id="unit181433" type="hidden" name="admin_agreement_service_unit[18143]" value="24296">
                                        </td>
                                        <!-- Cột số lượng -->
                                        <td class="amount hide text-center 18143">
                                            <!-- Phòng thì hiển thị cố định số lượng là 1 -->
                                            <!-- Loại theo đầu người thì cho phép sửa số lượng, ngược lại thì cố định (chỉ áp dụng cho điện/nước) -->
                                            <input type="text" name="admin_agreement_service_amount[18143]" value="1" class="form-control number-format text-center amount18143" readonly="">
                                        </td>
                                        <!-- Cột Tạm dừng -->
                                        <td class="stop-service hide text-center 18143">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkboxactive18143" name="admin_agreement_service_active[18143]" value="1" class="md-check"><label for="checkboxactive18143"><span></span><span class="check"></span><span class="box"></span></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection-service add-selection-service"><input class="hide" type="checkbox" name="admin_agreement_service[]" value="18144"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                            <input type="hidden" name="admin_agreement_service_service_initial[18144]" value="45612">
                                        </td>
                                        <!-- Cột name -->
                                        <td class="service-building-18144">Xe máy</td>
                                        <!-- Cột quy tắc tính tiền -->
                                        <td class="formula-type-input hide 18144">
                                            <!-- Trường hợp điện, nước thì lấy danh sách loại quy tắc -->
                                            <!-- Trường hợp khác thì cố định -->
                                            Đơn giá cố định
                                            <input type="hidden" name="admin_agreement_service_formula_type[18144]" value="1">
                                        </td>
                                        <!-- Cột giá ẩn -->
                                        <td class="text-center unit-price-18144 ">
                                            100.000đ
                                        </td>
                                        <!-- Cột giá -->
                                        <td class="text-center hide 18144">
                                            <!-- Phòng thì hiển thị giá mặc đinh là --- -->
                                            <!-- Điện/nước theo loại công thức, chú ý loại là công thức thì hiển thị danh sách công thức, ngược lại hiển thị đơn giá -->
                                            <!-- Phục vụ cho hiển thị ban đầu, luôn có 1 cặp unit_price & formula_id -->
                                            <input type="hidden" name="admin_agreement_service_unit_price[18144]" disabled="" class="unit-price-hidden-item18144">

                                            <!-- Phục vụ cho việc xử lý JS lúc thay đổi quy tắc tính tiền -->
                                            <input type="text" name="admin_agreement_service_unit_price[18144]" value="100000" class="form-control number-format text-center unit-price-item18144">
                                            <input type="text" name="admin_agreement_service_unit_price[18144]" value="0" class="form-control number-format text-center unit-price-fix-item18144" disabled="" style="display: none;">
                                            <input type="hidden" name="admin_agreement_service_formula_id[18144]" class="formula-id-hidden-item18144">
                                        </td>
                                        <!-- Cột đơn vị -->
                                        <td class="text-center">
                                            <div class="unit18144">Chiếc</div>
                                            <input id="unit18144" type="hidden" name="admin_agreement_service_unit[18144]" value="24298">
                                        </td>
                                        <!-- Cột số lượng -->
                                        <td class="amount hide text-center 18144">
                                            <!-- Phòng thì hiển thị cố định số lượng là 1 -->
                                            <!-- Loại theo đầu người thì cho phép sửa số lượng, ngược lại thì cố định (chỉ áp dụng cho điện/nước) -->
                                            <input type="text" name="admin_agreement_service_amount[18144]" value="1" class="form-control number-format text-center amount18144">
                                        </td>
                                        <!-- Cột Tạm dừng -->
                                        <td class="stop-service hide text-center 18144">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkboxactive18144" name="admin_agreement_service_active[18144]" value="1" class="md-check"><label for="checkboxactive18144"><span></span><span class="check"></span><span class="box"></span></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection-service add-selection-service"><input class="hide" type="checkbox" name="admin_agreement_service[]" value="18145"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                            <input type="hidden" name="admin_agreement_service_service_initial[18145]" value="45616">
                                        </td>
                                        <!-- Cột name -->
                                        <td class="service-building-18145">Internet</td>
                                        <!-- Cột quy tắc tính tiền -->
                                        <td class="formula-type-input hide 18145">
                                            <!-- Trường hợp điện, nước thì lấy danh sách loại quy tắc -->
                                            <!-- Trường hợp khác thì cố định -->
                                            Đơn giá cố định
                                            <input type="hidden" name="admin_agreement_service_formula_type[18145]" value="1">
                                        </td>
                                        <!-- Cột giá ẩn -->
                                        <td class="text-center unit-price-18145 ">
                                            100.000đ
                                        </td>
                                        <!-- Cột giá -->
                                        <td class="text-center hide 18145">
                                            <!-- Phòng thì hiển thị giá mặc đinh là --- -->
                                            <!-- Điện/nước theo loại công thức, chú ý loại là công thức thì hiển thị danh sách công thức, ngược lại hiển thị đơn giá -->
                                            <!-- Phục vụ cho hiển thị ban đầu, luôn có 1 cặp unit_price & formula_id -->
                                            <input type="hidden" name="admin_agreement_service_unit_price[18145]" disabled="" class="unit-price-hidden-item18145">

                                            <!-- Phục vụ cho việc xử lý JS lúc thay đổi quy tắc tính tiền -->
                                            <input type="text" name="admin_agreement_service_unit_price[18145]" value="100000" class="form-control number-format text-center unit-price-item18145">
                                            <input type="text" name="admin_agreement_service_unit_price[18145]" value="0" class="form-control number-format text-center unit-price-fix-item18145" disabled="" style="display: none;">
                                            <input type="hidden" name="admin_agreement_service_formula_id[18145]" class="formula-id-hidden-item18145">
                                        </td>
                                        <!-- Cột đơn vị -->
                                        <td class="text-center">
                                            <div class="unit18145">Phòng</div>
                                            <input id="unit18145" type="hidden" name="admin_agreement_service_unit[18145]" value="24293">
                                        </td>
                                        <!-- Cột số lượng -->
                                        <td class="amount hide text-center 18145">
                                            <!-- Phòng thì hiển thị cố định số lượng là 1 -->
                                            <!-- Loại theo đầu người thì cho phép sửa số lượng, ngược lại thì cố định (chỉ áp dụng cho điện/nước) -->
                                            <input type="text" name="admin_agreement_service_amount[18145]" value="1" class="form-control number-format text-center amount18145">
                                        </td>
                                        <!-- Cột Tạm dừng -->
                                        <td class="stop-service hide text-center 18145">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkboxactive18145" name="admin_agreement_service_active[18145]" value="1" class="md-check"><label for="checkboxactive18145"><span></span><span class="check"></span><span class="box"></span></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-7" style="padding-left: 0px;">
                        <div class="table-scrollable table-scrollable-agreement">
                            <table class="table table-striped table-bordered table-hover items-table-service">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default remove-all-selection-service"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                                        </th>
                                        <th class="service-building text-center hide"></th>
                                        <th class="text-center">Tên dịch vụ</th>
                                        <th>Quy tắc tính tiền</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Đơn vị</th>
                                        <th class="amount text-center">Số lượng</th>
                                        <th class="stop-service text-center">Tạm dừng</th>
                                    </tr>
                                </thead>
                                <tbody class="item-container-service-right">
                                    <tr>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-icon-only btn-default item-selection-service remove-selection-service">
                                                <input class="hide" type="checkbox" name="admin_agreement_service[]" value="18141" checked=""><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                <input type="hidden" name="admin_agreement_service_service_initial[18141]" value="45606">
                                            </a>
                                        </td>
                                        <!-- Cột name -->
                                        <td class="service-building-18141">Tiền nhà</td>
                                        <!-- Cột quy tắc tính tiền -->
                                        <td class="formula-type-input 18141">
                                            <!-- Trường hợp điện, nước thì lấy danh sách loại quy tắc -->
                                            <!-- Trường hợp khác thì cố định -->
                                            Đơn giá cố định
                                            <input type="hidden" name="admin_agreement_service_formula_type[18141]" value="1">
                                        </td>
                                        <!-- Cột giá ẩn -->
                                        <td class="text-center hide unit-price-18141 unit-price-room">
                                            ---
                                        </td>
                                        <!-- Cột giá -->
                                        <td class="text-center 18141">
                                            <!-- Phòng thì hiển thị giá mặc đinh là --- -->
                                            <input type="text" name="admin_agreement_service_unit_price[18141]" id="unit-price-room" value="3000000" class="form-control number-format text-center">
                                            <input type="hidden" name="admin_agreement_service_formula_id[18141]">
                                        </td>
                                        <!-- Cột đơn vị -->
                                        <td class="text-center">
                                            <div class="unit181411">Phòng</div>
                                            <input id="unit181411" type="hidden" name="admin_agreement_service_unit[18141]" value="24293">
                                        </td>
                                        <!-- Cột số lượng -->
                                        <td class="amount text-center 18141">
                                            <!-- Phòng thì hiển thị cố định số lượng là 1 -->
                                            <input type="text" name="admin_agreement_service_amount[18141]" value="1" class="form-control number-format text-center amount18141" readonly="">
                                        </td>
                                        <!-- Cột Tạm dừng -->
                                        <td class="stop-service text-center 18141">
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="checkboxactive18141" name="admin_agreement_service_active[18141]" value="1" class="md-check"><label for="checkboxactive18141"><span></span><span class="check"></span><span class="box"></span></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('#unit-price-room').change(function () {
                            $('#admin_agreement_down_payment').val($('#unit-price-room').val());
                        });
                        $('table.items-table-service').on('click', '.add-selection-service, .remove-selection-service', function () {
                            /* "this" is the button element instance */
                            var $btn = $(this).toggleClass('add-selection-service remove-selection-service'),
                                /* define row to be moved by looking up DOM tree*/
                                $item = $btn.closest('tr'),
                                /* define other table */
                                $otherTable = $('.items-table-service').not($btn.closest('table'));

                            $btn.find('span').toggleClass('glyphicon-plus glyphicon-minus');
                            $btn.find('input:checkbox').prop("checked", !$btn.find('input:checkbox').is(":checked"));

                            /*Cập nhật uncheck cho checkbox*/
                            var $id = $btn.find('input:checkbox').val();
                            $item.find('#checkboxstatus' + $id).attr("checked", false);

                            if ($(this).hasClass("remove-selection-service")) {
                                $("." + $id).removeClass("hide");
                                $(".unit-price-" + $id).addClass("hide");
                            } else {
                                $("." + $id).addClass("hide");
                                $(".unit-price-" + $id).removeClass("hide");
                            }
                            ;

                            $otherTable.append($item);
                        });

                        // Remove Or Add all
                        $('table.items-table-service').on('click', '.add-all-selection-service, .remove-all-selection-service', function () {

                            // Lấy thông tin bảng được chọn dựa trên phần tử được click
                            $myTable = $(this).closest('table');
                            $rowsMyTable = $myTable.find('> tbody > tr');
                            $otherTable = $('.items-table-service').not($(this).closest('table'));

                            $rowsMyTable.each(function () {
                                $item1x = $(this).find('.item-selection-service');
                                if ($item1x.length > 0) {
                                    var columns = $(this).find('td');
                                    columns.each(function () {
                                        $btnSelection = $(this).find('.item-selection-service');
                                        $btn = $btnSelection.toggleClass('add-selection-service remove-selection-service');
                                        $btn.find('span').toggleClass('glyphicon-plus glyphicon-minus');
                                        $btn.find('input:checkbox').prop("checked", !$btn.find('input:checkbox').is(":checked"));

                                        /*Cập nhật uncheck cho checkbox*/
                                        var $id = $btn.find('input:checkbox').val();
                                        $item = $(this).closest('tr');
                                        $item.find('#checkboxstatus' + $id).attr("checked", false);

                                        if ($btn.hasClass("remove-selection-service")) {
                                            $("." + $id).removeClass("hide");
                                            $(".unit-price-" + $id).addClass("hide");
                                        } else {
                                            $("." + $id).addClass("hide");
                                            $(".unit-price-" + $id).removeClass("hide");
                                            $(".unit-price-" + $id).removeClass("hide");
                                        }
                                        ;
                                    });
                                    $otherTable.append($(this));
                                }
                            });
                        });

                        $('.formula-type-item').change(function () {
                            var id = $(this).attr('id').replace('formula-type-item', '');

                            if ($(this).val() == 1) {
                                /* Thông tin cột đơn giá thay đổi theo đúng cấu hình của Formula Type*/
                                $('.formula-id-item' + id).hide();
                                $('.formula-id-item' + id).prop('disabled', true);
                                $('.unit-price-item' + id).hide();
                                $('.unit-price-item' + id).prop('disabled', true);
                                $('.unit-price-hidden-item' + id).prop('disabled', true);
                                $('.formula-id-hidden-item' + id).prop('disabled', false);

                                $('.unit-price-fix-item' + id).show();
                                $('.unit-price-fix-item' + id).prop('disabled', false);

                                /* Thông tin cột đơn vị thay đổi theo đúng cấu hình của Formula Type*/
                                $('.unit' + id + 2).html('Số (kWh)');
                                $('.unit' + id + 3).html('Khối (m3)');
                                // Input hidden unit
                                $('#unit' + id + 2).val('24295');
                                $('#unit' + id + 3).val('24296');

                                /* Thông tin cột số lượng thay đổi theo đúng cấu hình của Formula Type*/
                                $('.amount' + id).val(1);
                                $('.amount' + id).prop('readonly', true)

                            }

                            if ($(this).val() == 2) {
                                /* Thông tin cột đơn giá thay đổi theo đúng cấu hình của Formula Type*/
                                $('.formula-id-item' + id).hide();
                                $('.formula-id-item' + id).prop('disabled', true);
                                $('.unit-price-hidden-item' + id).prop('disabled', true);
                                $('.formula-id-hidden-item' + id).prop('disabled', false);
                                $('.unit-price-fix-item' + id).hide();
                                $('.unit-price-fix-item' + id).prop('disabled', true);

                                $('.unit-price-item' + id).show();
                                $('.unit-price-item' + id).prop('disabled', false);

                                /* Thông tin cột đơn vị thay đổi theo đúng cấu hình của Formula Type*/
                                $('.unit' + id + 2).html('Người');
                                $('.unit' + id + 3).html('Người');
                                // Input hidden unit
                                $('#unit' + id + 2).val('24297');
                                $('#unit' + id + 3).val('24297');

                                /* Thông tin cột số lượng thay đổi theo đúng cấu hình của Formula Type*/
                                $('.amount' + id).prop('readonly', false);
                                $('.amount' + id).val(1);
                            }

                            if ($(this).val() == 3) {

                                /* Thông tin cột đơn giá thay đổi theo đúng cấu hình của Formula Type*/
                                $('.formula-id-item' + id).show();
                                $('.formula-id-item' + id).prop('disabled', false);
                                $('.unit-price-hidden-item' + id).prop('disabled', false);
                                $('.formula-id-hidden-item' + id).prop('disabled', true);

                                $('.unit-price-item' + id).hide();
                                $('.unit-price-item' + id).prop('disabled', true);

                                $('.unit-price-fix-item' + id).hide();
                                $('.unit-price-fix-item' + id).prop('disabled', true);

                                /* Thông tin cột đơn vị thay đổi theo đúng cấu hình của Formula Type*/
                                $('.unit' + id + 2).html('Số (kWh)');
                                $('.unit' + id + 3).html('Khối (m3)');
                                // Input hidden unit
                                $('#unit' + id + 2).val('24295');
                                $('#unit' + id + 3).val('24296');
                                /* Thông tin cột số lượng thay đổi theo đúng cấu hình của Formula Type*/
                                $('.amount' + id).val(1);
                                $('.amount' + id).prop('readonly', true)
                            }
                        })
                    });
                </script>
            </div>
        </div>



    </div><!--end tableable-->

    <div class="row">
        <div class="col-lg-6">
            <!-- Chọn người đại diện, Số tien dat coc -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Người đại diện
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <select class="form-control select optional form-control" name="admin_agreement[renter_id]" id="admin_agreement_renter_id">
                        <option value="">-- Chọn người đại diện --</option>
                        <option selected="selected" value="8844">Tâm</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Tiền đặt cọc</label>
                <div class="col-md-8">
                    <input class="string optional bg-maxlength optional form-control number-format-clear-empty" placeholder="Nhập số tiền đặt cọc" maxlength="11" size="11" type="text" value="3000000" name="admin_agreement[down_payment]" id="admin_agreement_down_payment">
                    <div class="form-control-focus"></div>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Ngày bắt đầu</label>
                <div class="col-md-8">
                    <div class="input-group date form_datetime">
                        <input type="text" id="startDate" class="form-control" name="admin_agreement[start_date]" value="18/06/2020 20:49" readonly="">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">Ngày hết hạn<span class="required" aria-required="true"> * </span></label>
                <div class="col-md-8">
                    <div class="input-group date form_datetime">
                        <input type="text" id="endDate" class="form-control" name="admin_agreement[end_date]" value="18/06/2021 20:49" readonly="">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Chu ky thanh toan -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Kì thanh toán
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="string optional form-control bg-maxlength number-format" value="1" placeholder="Nhập kì thanh toán" maxlength="2" size="2" type="text" name="admin_agreement[billing_cycle]" id="admin_agreement_billing_cycle">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-history"></i>tháng/lần
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Ngày cảnh báo nộp tiền theo kỳ -->
            <div class="form-group form-md-line-input">
                <label class="col-md-4 control-label">
                    Ngày đóng tiền kỳ tới
                    <span class="required" aria-required="true"> * </span> <span class="required tooltips" aria-required="true" data-placement="top" data-original-title="Ngày dùng để cảnh báo khi đến kỳ thanh toán"> [?] </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="string optional form-control bg-maxlength number-format" value="18" placeholder="Nhập kì thanh toán" maxlength="2" size="2" type="text" name="admin_agreement[billing_cycle_warning]" id="admin_agreement_billing_cycle_warning">
                        <div class="form-control-focus"></div>
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-history"></i>Kỳ
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <!-- Ghi chú -->
            <div class="form-group form-md-line-input">
                <div class="row">
                    <label class="col-md-4 control-label">Ghi chú (Nếu có) </label>
                    <div class="col-md-8">
                        <textarea class="text optional form-control bg-maxlength" row="5" style="height: 286px;" maxlength="255" name="admin_agreement[description]" id="admin_agreement_description"></textarea>
                        <div class="form-control-focus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input class="hidden" type="hidden" value="0" name="admin_agreement[month_pre_payment]" id="admin_agreement_month_pre_payment">
    <input class="hidden" type="hidden" value="0" name="admin_agreement[pre_payment]" id="admin_agreement_pre_payment">

    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-9">
                <span class="font-red-flamingo" id="error-people-in-room"></span>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-default show-main-modal" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu lại
                </button>
            </div>
        </div>
    </div>

</form>
