@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@using Motel.ViewModels
@model QuanLyDatPhongViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName
@{
    if (ViewData["Title"] != null)
    {
        <script type="text/javascript">
            toastr.error("", "Email or password is wrong !)");
        </script>
    }
}


<div id="view-all">
    @await Html.PartialAsync("ViewAll", Model);
</div>
