
@{
    Layout = null;
}

@using Motel.ViewModels
@model KhachHangViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName


<form asp-controller="KhachHang" asp-action="AddOrEdit" asp-route-id="@Model.khachHang.MaKh" onsubmit="return jQueryAjaxPost(this);"
      class="simple_form form-horizontal" novalidate="novalidate"
      id="new_admin_building" accept-charset="UTF-8" data-remote="true">
    <input name="utf8" type="hidden" value="✓">


    <ul class="errors"></ul>
    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Tên khách hàng
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-4">
            <input class="string required bg-maxlength form-control"
                   placeholder="Tên khách hàng" maxlength="50" size="50" type="text"
                   asp-for="khachHang.TenKH" name="khachHang.TenKH"
                   id="Ten">
            <div class="form-control-focus"></div>
        </div>

    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">
            Quê quán
            <span class="required" aria-required="true"> * </span>
        </label>
        <div class="col-md-10">
            <textarea class="text required bg-maxlength form-control"
                      asp-for="khachHang.QueQuan" name="khachHang.QueQuan"
                      placeholder="Quê quán" maxlength="255" id="DiaChi"></textarea>
            <div class="form-control-focus"></div>
        </div>
    </div>

    <div class="form-group form-md-line-input row">
        <label class="col-md-2 control-label">Số điện thoại</label>
        <div class="col-md-4">
            <input class="string required bg-maxlength form-control"
                   placeholder="Số điện thoại"
                   asp-for="khachHang.SoDienThoai" name="khachHang.SoDienThoai"
                   maxlength="50" size="50" type="number"
                   id="TongPhong">

            <div class="form-control-focus"></div>
        </div>
        <label class="col-md-2 control-label">CMND</label>
        <div class="col-md-4">
            <input class="string required bg-maxlength form-control"
                   placeholder="CMND" maxlength="50"
                   asp-for="khachHang.CMND" name="khachHang.CMND"
                   size="50" type="number" id="PhongTrong">

            <div class="form-control-focus"></div>
        </div>

    </div>

    <div class="form-group form-md-line-input row">

        <label class="col-md-2 control-label">Mail</label>
        <div class="col-md-10">
            <textarea class="text optional bg-maxlength form-control autosizeme"
                      asp-for="khachHang.Mail" name="khachHang.Mail"
                      placeholder="Mail" maxlength="500"
                      id="Mota"></textarea>
            <div class="form-control-focus"></div>
        </div>
    </div>



    <div class="form-actions margin-top-10">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy bỏ
                </button>
                <button name="button" type="submit" class="btn btn-default btnFormSubmit btn green">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>  Lưu lại
                </button>
            </div>
        </div>
    </div>
</form>


