@using Motel.ViewModels
@model KhachHangViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, YourProjetcName



<h2>kHACH HANG</h2>
@{
    foreach (var kh in Model.list)
    {
        <div>
            <h2>Ma: @kh.MaKh</h2>
            <h3>Ten: @kh.TenKH</h3>
            <h4>Mail: @kh.Mail</h4>
            <p>Que quan: @kh.QueQuan</p>
        </div>
    }
}

<div>
    <form asp-controller="KhachHang" asp-action="Save" method="post">
        <input type="text" asp-for="khachHang.TenKH" name="TenKH" />
        <input type="text" asp-for="khachHang.NgaySinh" name="NgaySinh" />
        <input type="text" asp-for="khachHang.Mail" name="Mail" />
        <input type="text" asp-for="khachHang.SoDienThoai" name="SoDienThoai" />
        <input type="submit" value="Save" />
    </form>
    
</div>

